<template>
    <div class="row">
    <div class="col-lg-12 col-12">
      <div class="box">
        <div class="box-header with-border">
          <h4 class="box-title">Modulo de Productos</h4>
        </div>
        <div class="box-body">			  
            <button type="button" data-toggle="modal" data-target="#modalRegisterCliente"  class="btn btn-rounded btn-success mb-5"><i class="fa fa-plus-circle" aria-hidden="true"></i>Agregar</button>
            <div class="card-body">
              <div class="container mt-5">
                <table id="tableProducts" class="table">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Descripcion</th>
                            <th>Valor</th>
                            <th>Categoria</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="product in Products" :key="product.idProduct">
                          <td>{{product.name}}</td>
                          <td>{{product.description}}</td>
                          <td>{{product.cost}}</td>
                          <td>{{product.nameBrand}}</td>
                          <td>
                            <a @click="editProduct(product)" class="btn" data-toggle="modal" data-target="#modalEditProduct"><i class="fa-solid fa-pen-to-square"></i></a>
                            <a @click="changeStatus(product.idProduct)"  class="btn"><i class="fa-solid fa-minus"></i></a>'
                          </td>
                        </tr>
                    </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>
    </div>
    <div class="modal  modal-right fade" id="modalRegisterCliente" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Registrar Producto</h5>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="" id="formRegisterCliente" method="post">
                <div class="">
                  <h4 class="box-title text-info"><i class="fa fa-microchip"></i> Formulario de Registro</h4>
                  <hr class="my-15">
                  <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                          <label>Categoria</label>
                          <select class="form-control" v-model="brand_id" name="" id="">
                            <option :value="brand.id" v-for="brand in Brands" :key="brand.id">{{brand.name}}</option>
                        </select>
                        </div>
                    </div>
                  </div> 
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                          <label>Nombre</label>
                          <input v-model="name" type="text" name="name" id="name" class="form-control" >
                      </div>
                      <div class="form-group">
                          <label >Descripcion</label>
                          <input v-model="description" type="text" name="description" id="description" class="form-control">
                      </div>
                      <div class="form-group">
                          <label >Valor</label>
                          <input v-model="cost" type="number" name="cost" id="cost" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer modal-footer-uniform">
            <button type="button" id="close" class="btn btn-danger btn-outline mr-1" data-dismiss="modal">Cerrar</button>
            <button type="button" @click="storeProduct()" id="btnRegisterProduct" class="btn btn-primary btn-outline float-right">Registrar</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal  modal-right fade" id="modalEditProduct" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Editar Producto</h5>
            <button type="button" class="close" data-dismiss="modal">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="" id="formEditProduct" method="post">
                <div class="">
                  <h4 class="box-title text-info"><i class="fa fa-microchip"></i>Formulario de edicion</h4>
                  <hr class="my-15">
                  <input type="hidden" v-model="DataProduct.idProduct">
                  <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                          <label>Categoria</label>
                          <select class="form-control" v-model="DataProduct.brand_id" name="" id="">
                            <option :value="brand.id" v-for="brand in Brands" :key="brand.id">{{brand.name}}</option>
                        </select>
                        </div>
                    </div>
                  </div> 
                  <div class="row">
                    <div class="col-12">
                      <div class="form-group">
                          <label>Nombre</label>
                          <input v-model="DataProduct.name" type="text" name="name" id="name" class="form-control" >
                      </div>
                      <div class="form-group">
                          <label >Descripcion</label>
                          <input v-model="DataProduct.description" type="text" name="description" id="description" class="form-control">
                      </div>
                      <div class="form-group">
                          <label >Valor</label>
                          <input v-model="DataProduct.cost" type="number" name="cost" id="cost" class="form-control">
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer modal-footer-uniform">
            <button type="button" id="close2" class="btn btn-danger btn-outline mr-1" data-dismiss="modal">Cerrar</button>
            <button type="button" @click="updateProduct()" id="btnUpdateProduct" class="btn btn-primary btn-outline float-right">Actualizar</button>
            </div>
          </div>
        </div>
      </div>
</div>
</template>
<script>
    export default {
      mounted(){
        this.getBrands();
        this.getProducts();
      },
      data: () => ({
          identification: "",
          name: "",
          description:  "",
          cost: 0,
          brand_id: 0,
          email: "",
          phone: "",
          address: "",
          age: 0,
          Clientes: [],
          Products: [],
          Brands: [],
          DataProduct: {idProduct: '', description: '', name: '', cost: 0, brand_id: ''}
      }),
      methods: {
          storeProduct(){
            let post = {
                brand_id: this.brand_id,
                name: this.name,
                description: this.description,
                cost: this.cost,
            }
            const url ='api/product/store'
            axios.post(url, post).then((result) => {
                this.getProducts()
                document.getElementById('close').click();
                this.$swal({
                position: 'top-end',
                icon: 'success',
                title: 'Agregaste un nuevo Producto',
                showConfirmButton: false,
                timer: 2000
              });
              this.brand_id = '';
              this.name = '';
              this.description = '';
              this.cost = '';
            });
          },

          updateProduct(){
            let data = {
                idProduct: this.DataProduct.idProduct,
                description: this.DataProduct.description,
                name: this.DataProduct.name,
                cost: this.DataProduct.cost,
                brand_id: this.DataProduct.brand_id,
            }
            const url ='api/product/update'
            axios.put(url, data).then((result) => {
                this.getProducts()
                document.getElementById('close2').click();
                this.$swal({
                position: 'top-end',
                icon: 'success',
                title: 'Haz actualizado el Producto Correctamente',
                showConfirmButton: false,
                timer: 2000
              })
            });
          },
          async getProducts(){
            try {
              let post = [];
              const url = 'api/getProducts'
              const response= await axios.post(url,post);
              const data = await response.data;
              this.Products = data;
            } catch (error) {
              console.log(error)
            }
          },
          async getBrands(){
            try {
              let post = [];
              const url = 'api/getBrands'
              const response= await axios.post(url,post);
              const data = await response.data;
              this.Brands = data;
              console.log(this.Brands[0].name)
            } catch (error) {
              console.log(error)
            }
          },
          async editProduct(product){
              this.DataProduct.idProduct = product.idProduct;
              this.DataProduct.description = product.description;
              this.DataProduct.name = product.name;
              this.DataProduct.cost = product.cost;
              this.DataProduct.brand_id = product.brand_id;
          },
          changeStatus(id){
            this.$swal({
                title: '¿Estas seguro de cambiar el estado del producto?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonText: 'No',
                confirmButtonText: 'Si'
                }).then((result) => {
                if (result.isConfirmed) {
                    axios.delete(`api/product/changeStatus/${id}`).then((result) => {
                this.getProducts()
                this.$swal({
                position: 'top-end',
                icon: 'success',
                title: 'Haz Cambiado el estado del Producto',
                showConfirmButton: false,
                timer: 2000
              })
            });
                }
                })
            
          }
      }
    }
</script>