<template>
<div class="wrapper">
    <header class="main-header">
    <a href="#" class="logo">
	  <b class="logo-mini">
		  <span class="light-logo"><img src="../../../public/img/vue2.png" alt="logo"></span>
	  </b>
      <span class="logo-lg">
	  	  <img src="../../../public/img/vue1.png" alt="logo" class="dark-logo">
	  </span>
    </a>
    <nav class="navbar navbar-static-top">
	  	
		  <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
			<span class="sr-only">Toggle navigation</span>
		  </a>	
		
  
    </nav>
  </header>
  <aside class="main-sidebar">
    <section class="sidebar">
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header nav-small-cap">Menu</li>
        <li class="active-">
          <router-link to="/">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </router-link>
        </li>
          <li><router-link to="/products">
            <i class="fa fa-microchip"></i> <span>Productos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-right pull-right"></i>
            </span>
          </router-link></li>
      </ul>
    </section>
  </aside>
  <div class="content-wrapper">
    <section class="content-header">
      Prueba T3RSC
    </section>
    <section class="content">
        <router-view></router-view>
	</section>
  </div>
  <footer class="main-footer">
	  &copy; 2022 <a href="#">Steven Developer</a>. All Rights Reserved.
  </footer>

  <div class="control-sidebar-bg"></div>
  
</div>
</template>